ul.nacc {
  height: 100% !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 80px 40px 50px 60px;
}

ul.nacc li {
  width: 100%;
}

ul.nacc li .right-image img {
  max-width: 420px;
  float: right;
}

.nacc .thumb h4 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.nacc .thumb .main-white-button {
  text-align: right;
  margin-top: 40px;
}

.nacc .thumb .main-white-button a {
  background-color: #8d99af;
  color: #fff;
}

.nacc .thumb .main-white-button a i {
  background-color: #fff;
  color: #8d99af;
}

.left-text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #4da6e7 !important;
}

.left-text p {
  margin-bottom: 30px;
}

.nacc .ticks-list span {
  display: inline-block;
  opacity: 1;
  margin-right: 45px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}
